@import "./variables.scss";
main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2em; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
  overflow:hidden;
  white-space:nowrap;
  width:100px;
  position:relative;


  &::after {
    content: "...";
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    padding: 0 5px;
  }
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  width: 100%;
  border-radius: 0; /* Optional: Remove border radius for a clean look */
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 100%;
  }
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products {
  text-align: center;
  padding: 126px 0;
  padding-bottom: 165px;

  @media (max-width: $large-device-breakpoint) {
      padding: 96px 0;
  }

  @media (max-width: $small-device-breakpoint) {
      padding: 66px 0;
  }

  &__subtitle {
      font-family: 'Yellowtail';
      font-weight: 400;
      font-size: $fs-36;
      line-height: 49px;
      color: $color-dark-green;
  }

  &__title {
      color: $color-darkslategray;
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 50px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
  }

  &__carts{
    padding-bottom: 86px;
  }
}

.product-card{
  border-radius: 30px;
  transition: box-shadow 0.3s ease-in-out;
  

  &__category {
    display: inline-block;
    padding: 5px 12px;
    background: $color-darkslategray;
    border-radius: 8px;
    color: $color-white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
    width: 100px;
    
  }

  &__content {
    text-align: left; /* Align content to the left */
    padding-left: 15px; /* Add left padding for content separation */
  }

  &:hover {
    
    box-shadow: $shadow-offset-x $shadow-offset-y $shadow-blur-radius $shadow-spread-radius $shadow-color;
    transform: scale(1.05); 
  }
}

$fs-25: 1.56em;
$fs-30: 1.875em;
$fs-36: 2.25em;
$fs-38: 2.375em;
$fs-40: 2.5em;
$fs-50: 3.125em;
$fs-70: 4.375em;
$fs-220: 13.75em;

/* Colors */
$color-white: #fff;
$color-darkslategray: #274c5b;
$color-khaki: #efd372;
$color-dark-green: #7eb693;
$color-mint-green: #F1F8F4;
$color-ligth-green: #EFF6F1;
$color-gray: #e0e0e0;
$color-whitesmoke: #f9f8f8;
$color-silver: #b8b8b8;
$color-dimgray: #525c60;
$color-lightgray: #d4d4d4;
$color-pink: #F96893;
$color-light-mint: #8FA8A8;
$color-light-mint-green: #EAEFF1;

// Media breakpoints
$x-large-device-breakpoint: 1399.98px;
$large-device-breakpoint: 1199.98px;
$medium-device-breakpoint: 991.98px;
$small-device-breakpoint: 767.98px;
$x-small-device-breakpoint: 575.98px;





